# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
.idea/

# Build files
*.sln
*.suo
*.opensdf
*.sdf

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated project / IDE files
Makefile
*.code-workspace
.ignore
